.title{
    background-color: #007bff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
    font-weight: bold;
    padding: 25px;
    text-align: center;
}

#div01{
    font-size: small;
    font-weight: lighter;
}

.header{
    text-align: center;
}

td{
    padding: 20px;
}

#pic{
    border-radius: 70%;
    padding-right: 10px;
    text-align: right;
}

.img{
    text-align: right;
}

.intro{
    text-align:left;
}

.container {
    background-color: #f1f1f1;
    font-family: sans-serif;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: small;
  }